<aside class="widget">
    <h3 class="text-center text-uppercase">Les derniers articles</h3>
    
    <ul>
    {% assign count = 0 %}
    {% for post in site.posts %}
        {% unless post.title ==  page.title %}
            {% assign count = count | plus: 1 %}
            <li class="clearfix">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <span class="pull-right">({{ count }})</span>
            </li>
        {% endunless %}
        
        {% if count == 3 %}
            {% break %}
        {% endif %}
    {% endfor %}
    </ul>
</aside>
