<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                Made with <i class="fa fa-heart"></i> by Pierre Skowron &copy; All rights reserved - Hosted on <a href="https://pages.github.com/" target"_blank">Github Pages</a> 
            </div>
        </div>
    </div>
</footer>


<!-- Facebook -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1247828545302060',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

   (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=432976063704969";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Twitter -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Adsense -->
<script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script src="{{ "/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
