<aside class="widget widget-profile">
    <div class="profile-container">
        <div class="profile-content text-center">
            <img class="profile-picture" src="{{ site.url }}/imgs/portrait.png" alt="Pierre Skowron" />
            <h3 class="text-uppercase">Pierre Skowron</h3>
            <p>
                Développeur web :computer:
                <br/><br/>
                J'aime les sciences :microscope: les voitures :car::dash: et le poulet :chicken: !
            </p>
        </div>
    </div>
</aside>
