---
layout: default
---


<div class="row">
    <div class="col-md-8">
        
        {{ content }}
        
    </div>
    
    <div class="col-md-4">
        <div class="primary-sidebar">
            
            {% include widget-profile.html %}
            
            {% include widget-archives.html %}
                
            <aside class="widget adsense">
                {% include widget-adblock.html %}
                {% include widget-adsense-300-250.html %}
            </aside>
            
            {% include widget-twitter.html %}
            
            {% include widget-instagram.html %}
            
        </div>
    </div>
</div>
